<button
	mat-mini-fab
	color="primary"
	aria-label="icon for open/close add form"
	(click)="toggleForm()"
	class="task-form__open-button"
	[matTooltip]="formOpened ? 'Закрыть' : 'Добавить задачу'"
	matTooltipPosition="before"
>
	<mat-icon>{{ formOpened ? 'close' : 'add' }}</mat-icon>
</button>
<form [formGroup]="addForm" *ngIf="formOpened" (ngSubmit)="submit()">
	<mat-form-field appearance="fill">
		<mat-label>Введите имя задачи</mat-label>
		<input type="text" matInput formControlName="addControl" />
		<mat-error *ngIf="addControl?.errors?.required">У задачи должно быть имя</mat-error>
		<mat-error *ngIf="addControl?.errors?.notUnique"
			>Задача с таким именем уже существует</mat-error
		>
	</mat-form-field>
	<button
		mat-button
		type="submit"
		class="task-form__add-button"
		[disabled]="addForm.invalid || addForm.pristine"
	>
		Добавить
	</button>
</form>
