<button
	mat-mini-fab
	color="primary"
	aria-label="Icon for open/close add form"
	(click)="toggleForm()"
	class="date-form__open-button"
	[matTooltip]="formOpened ? 'Закрыть' : 'Добавить дату'"
	matTooltipPosition="above"
>
	<mat-icon>{{ formOpened ? 'close' : 'add' }}</mat-icon>
</button>
<form [formGroup]="addForm" *ngIf="formOpened" (ngSubmit)="submit()">
	<mat-form-field appearance="fill">
		<mat-label>Введите дату</mat-label>
		<input matInput [matDatepicker]="dp" formControlName="addControl" />
		<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
		<mat-datepicker #dp></mat-datepicker>
		<mat-error *ngIf="addControl?.errors?.required && !addControl?.errors?.matDatepickerParse"
			>Дату необходимо ввести</mat-error
		>
		<mat-error *ngIf="addControl?.errors?.matDatepickerParse"
			>Введите дату в формате дд.мм.гггг</mat-error
		>
		<mat-error *ngIf="addControl?.errors?.notUnique">Такая дата уже есть</mat-error>
	</mat-form-field>
	<button
		mat-button
		type="submit"
		class="date-form__add-button"
		[disabled]="addForm.invalid || addForm.pristine"
	>
		Добавить
	</button>
</form>
